@charset "UTF-8";
/*-- Ancestry Knowledge Base--*/
body{margin-top:0;/*Safari*/}

#td_1	{ width: 170px; }
.inputs	{ width: 520px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {margin:0; padding:0;}
p {margin:0px;}
body{margin:0px !important;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; }
ol,ul,li {text-indent:0px; list-style:none; padding:0px; margin:0px; }
caption{text-align:left;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix, *:first-child+html .clearfix {/*zoom: 1;*/ display: block; /* resets display for IE/Win */}
#GlobalWrpr{ width:990px; margin:0px auto; padding:0 5px; position:relative; /*Fix for IE7. Pages this breaks must be fixed individually.*/ }
.clearfixIE{display: block !important;}
.clearfixIE:after{content: "." !important; display: block !important; height: 0 !important; clear: both !important; visibility: hidden !important; zoom:0 !important;}
.clearFloatDiv{clear:both;}

/* -- "return button" -- */
.flat_icon{background-image:url(/images/icon-sprite.png); background-repeat:no-repeat; display:inline-block; width:16px; height:16px; float:left;} 
.flat_icon_inline{background-image:url(/images/icon-sprite.png); background-repeat:no-repeat; display:inline-block; width:16px; height:16px;} 
.flat_icon_inline_small{background-image:url(/images/icon-sprite.png); background-repeat:no-repeat; display:inline-block; width:10px; height:10px;} 
#GlobalWrpr .iconSprite{background:url(/images/icon-sprite.png) no-repeat;}

/*--Buttons-
------------------------------------------------------------------------
Once FF2 is no longer supported
1. Replace "float:left;" and "display:block" with "display:inline-block;"
   on the anchor and emphasis tag. 
2. Save a new version of the global with updated button styles.

To use Buttons
1. Use the same background image for both the anchor and emphasis tag.
2. Add extra classes to the anchor tag to specify button type.
2. Remember to clear the float until "display:inline-block" is used.
------------------------------------------------------------------------*/
a.gbtn { background-repeat:no-repeat; background-position:left top; color:#fff; cursor:pointer; display:block; float:left; outline:none; text-decoration:none; font-family:Tahoma,Geneva,sans-serif; }
a.gbtn:hover{text-decoration:none !important;}
a.gbtn:link,a.gbtn:visited{color:#fff;}
a.gbtn_in:hover{text-decoration:none !important;}
a.gbtn em { background-repeat:no-repeat; background-position:right top; display:block; float:left; font-style:normal; font-weight:700; position:relative; }
a.gbtn_in { background-repeat:no-repeat; background-position:left top; color:#fff; cursor:pointer; display:inline-block; outline:none; text-decoration:none; font-family:Tahoma,Geneva,sans-serif; }
a.gbtn_in em { background-repeat:no-repeat; background-position:right top; display:inline-block; font-style:normal; font-weight:700; position:relative; }
.centerBtn{text-align:center;}
.centerBtn a.gbtn{float:none;display:inline-block;}
/*-- Small --*/
a.sml-green, a.sml-orange, a.sml-gray, a.sml-darkgreen, a.sml-silv { margin-right:6px; }
a.sml-green em, a.sml-orange em, a.sml-gray em, a.sml-darkgreen em, a.sml-silv em { font-size:11px; height:18px; line-height:18px; padding-right:6px; right:-6px; }
a.sml-lt { padding-left:26px; }/* Icon Left */
a.sml-rt { margin-right:32px; }/* Icon Right */
a.sml-rt em { padding-right:32px; }/* Icon Right */
/*-- Medium --*/
a.med-green, a.med-gray, a.med-orange, a.med-darkgreen, a.med-silv{ margin-right:12px; }
a.med-green em, a.med-gray em, a.med-orange em, a.med-darkgreen em, a.med-silv em { font-size:12px; height:27px; line-height:27px; padding-right:12px; right:-12px; color:#fff; }
a.med-lt { padding-left:28px; }/* Icon Left */
a.med-rt { margin-right:39px; }/* Icon Right */
a.med-rt em { padding-right:39px; }/* Icon Right */
/*-- Large --*/
a.lrg-green, a.lrg-orange, a.lrg-gray, a.lrg-darkgreen, a.lrg-silv{ margin-right:16px; }
a.lrg-green em, a.lrg-gray em, a.lrg-orange em, a.lrg-darkgreen em, a.lrg-silv em { font-size:15px; height:42px; line-height:42px; padding-right:16px; right:-16px; }
a.lrg-lt { padding-left:51px; }/* Icon Left */
a.lrg-rt { margin-right:66px; }/* Icon Right */
a.lrg-rt em { padding-right:66px; }/* Icon Right */
/*--Button Implamentation-- (SMALL)--*/
a.sml-orange, a.sml-orange em { background-image:url(/images/button-small-orange.png); }
a.sml-gray, a.sml-gray em { background-image:url(/images/button-small-darkgray.png); }
a.sml-green, a.sml-green em { background-image:url(/images/button-small-lightgreen.png); }
a.sml-darkgreen, a.sml-darkgreen em { background-image:url(/images/button-small-darkgreen.png); }
/*--Button Implamentation-- (MED)--*/
a.med-green, a.med-green em { background-image:url(/images/button-medium-lightgreen.png); }
a.med-orange, a.med-orange em{ background-image:url(/images/button-medium-orange.png); }
a.med-gray, a.med-gray em{ background-image:url(/images/button-medium-darkgray.png); }
a.med-darkgreen, a.med-darkgreen em { background-image:url(/images/button-medium-darkgreen.png); }
a.med-lt, a.med-lt em { background-image:url(/images/gbtn-med-lightgray-cross.png); color:#566c11; }
/*--Button Implamentation-- (LARGE)--*/
a.lrg-green, a.lrg-green em { background-image:url(/images/button-large-lightgreen.png); }
a.lrg-orange, a.lrg-orange em { background-image:url(/images/button-large-orange.png); }
a.lrg-gray, a.lrg-gray em { background-image:url(/images/button-large-darkgray.png); }
a.lrg-darkgreen, a.lrg-darkgreen em { background-image:url(/images/button-large-darkgreen.png); }

/*--Silver global buttons--*/
a.sml-silv, a.sml-silv em { background-image:url(/images/sliver_btn_sprt_smal.png);}
a.med-silv, a.med-silv em{ background-image:url(/images/sliver_btn_sprt_med.png);}
a.lrg-silv, a.lrg-silv em { background-image:url(/images/sliver_btn_sprt_lrg.png);}
a.sml-silv, a.sml-silv em{ font-size:12px; height:18px; line-height:17px; color:#676F14 !important;}
a.med-silv, a.med-silv em{ font-size:12px; height:28px; line-height:27px; color:#676F14 !important;}
a.lrg-silv, a.lrg-silv em{ font-size:15px; height:44px; line-height:42px; color:#676F14 !important;}



.sideNvWrp{font-family:Tahoma, Geneva, sans-serif;margin-top:5px;}
.sideNvWrp a{text-decoration:none;}
.sideNvWrp a:hover{text-decoration:underline;}
.kbTopicWrp{background-color:#EFEEE5;border-left:1px solid #BAAE95;border-right:1px solid #BAAE95;border-bottom:1px solid #BAAE95;padding:10px;margin-bottom:10px;}
.kbTopicWrp .c-1{float:left;width:242px;}
.kbTopicWrp .c-1 .topCt{width:192px;border-right:solid 1px #fff;border-bottom:solid 1px #D1CCBD;padding:20px 25px 8px 25px;}
.kbTopicWrp .c-1 .bottomCt{width:191px;border-top:solid 1px #fff;border-right:solid 1px #fff;padding:20px 25px 8px 25px;}
.kbTopicWrp .c-2{float:left;width:242px;}
.kbTopicWrp .c-2 .topCt{width:191px;border-left:solid 1px #D1CCBD;border-bottom:solid 1px #D1CCBD;padding:20px 25px 8px 25px;margin-left:1px;}
.kbTopicWrp .c-2 .bottomCt{width:191px;border-left:solid 1px #D1CCBD;border-top:solid 1px #fff;padding:20px 25px 8px 25px;margin-left:1px;}
.kbTab{line-height:13px;}
.kbTabWrp h3{margin-top:0;/*Safari*/}
.LeftWrppr{margin-right:10px;}
.container-4{background:url(/images/cont_mid_4.png) repeat-y;width:948px;padding:15px 13px 7px 13px;margin:0px auto;}
.container-4btm{background:url(/images/cont_btm_4.png) no-repeat;width:974px;height:12px;/* margin:0px auto;*/}
.kbSearch{background:#F9F8F5 url(/images/av_search_bg.png) repeat-x bottom;border:solid 1px #C6BDA8;padding:9px;position:relative;width:auto;}
.kbSearch a.advanced{color:#43530D;text-decoration:none;font-size:11px;font-family:Tahoma, Geneva, sans-serif;line-height:27px;}
.kbSearch a.advanced:hover{text-decoration:underline;}
.kbSearch .tl{background:url(/images/kbSprite.png) no-repeat 0px 0px;position:absolute;top:-1px;left:-1px;width:9px;height:9px;}
.kbSearch .tr{background:url(/images/kbSprite.png) no-repeat -9px 0px;position:absolute;top:-1px;right:-1px;width:9px;height:9px;}
.kbSearch .bl{background:url(/images/kbSprite.png) no-repeat 0px -9px;position:absolute;bottom:-1px;left:-1px;width:9px;height:9px;}
.kbSearch .br{background:url(/images/kbSprite.png) no-repeat -9px -9px;position:absolute;bottom:-1px;right:-1px;width:9px;height:9px;}
.kbSearch h3{display:inline-block;float:left;color:#83371F;font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;margin:2px 8px 0px 0px;}
.kbSearch .btn{float:left;width:auto;height:20px;margin-right:8px;display:inline-block;}
.kbSearch input{width:300px;margin-top:1px;display:block;float:left;height:20px;font-size:14px;margin-right:8px;}
.sidePanel{width:230px;float:left;height:auto;margin-left:10px;}
.sidePanel span{float:none;margin:0;}
.sideNvWrp .content{text-indent:0;}
#asSearch{overflow:hidden;width:760px;margin-left:130px;height:auto;}
#asSearch .left, #asSearch .right{float:left;width:380px;height:auto;margin-top:10px;}
#asSearch .left p, #asSearch .right p{font-family:Tahoma, Geneva, sans-serif;color:#797978;font-size:11px;font-weight:bold;margin-bottom:3px;}
#asSearch .left select{margin-bottom:12px;}
#asSearch .right a{font-family:Tahoma, Geneva, sans-serif;font-size:11px;text-decoration:none;}
#asSearch .right a:hover{text-decoration:underline;}
#asSearch .right table{color:#797978;font-family:Tahoma, Geneva, sans-serif;font-size:11px;margin-bottom:10px;}
#asSearch .right table td{vertical-align:top;}
#asSearch .right table td.first{padding-right:25px;}
#keywordSearch{color:#aaa;font-style:italic;}
.main_area{border:1px solid #b4ad9a;background-image:url(/images/kb_contactBG.png);background-repeat:repeat-x;background-color:#e8e7db;position:relative;}
.main_area .contactBG_tl{background-image:url(/images/kb_contactBG_tl.png);width:6px;height:6px;top:-1px;left:-1px;position:absolute;}
.main_area .contactBG_tr{background-image:url(/images/kb_contactBG_tr.png);width:6px;height:6px;top:-1px;right:-1px;position:absolute;}
.main_area .contactLinks{position:absolute;right:20px;font-size:12px;margin-top:5px;}
.main_area .printImg,.main_area .emailImg{margin-right:5px;margin-bottom:3px;*margin-bottom:0;vertical-align:middle;}
.main_area .printLink{margin-right:15px;}
#kb_contact .main_area, #kb_answer .main_area{float:left;width:730px;padding:0 10px 5px;}
.midSec{width:510px;float:left;height:auto;}
.sep_layers{border-top:1px solid #ebe8e0;border-bottom:1px solid #fdfdfb;height:1px;background-color:#d7d2c8;}
.sideBox{border-left:1px solid #BAAE95;border-right:1px solid #BAAE95;border-bottom:1px solid #BAAE95;padding:10px 15px;font-size:12px;}
.sidePanel .subLvl{margin:0;padding-left:5px;border-left:1px solid #BAAE95;border-right:1px solid #BAAE95;border-bottom:1px solid #c8c1ac;border-top:none;background-image:url(/images/kb_subLvlBG.png);height:22px;line-height:22px;color:#566c11;font-weight:700;font-size:12px;}

#featured{background-color:#EFEEE5;padding:10px;border:1px solid #BAAE95;border-top:none;margin-bottom:10px;font-size:12px;}
#featured #featTbl{background-color:#EFEEE5;line-height:18px;* width:0;}
#featured #featTblTL{border-bottom:1px solid #d1ccbd;border-right:1px solid #fff;width:50%;padding:25px 25px 15px 25px;}
#featured #featTblTR{border-bottom:1px solid #d1ccbd;border-left:1px solid #d1ccbd;width:50%;padding:25px 25px 15px 25px;}
#featured #featTblBL{border-top:1px solid #fff;border-right:1px solid #fff;width:50%;padding:25px 25px 15px 25px;}
#featured #featTblBR{border-top:1px solid #fff;border-left:1px solid #d1ccbd;width:50%;padding:25px 25px 15px 25px;}
#featured .featImgWrpr{text-align:center;margin-bottom:15px;}
#featured .featImg{margin:0 auto;background-image:url(/images/KBimg.png);}
#featured #featOFT{background-position:left top;width:123px;height:72px;}
#featured #featFTM{background-position:-78px -73px;width:67px;height:87px;}
#featured #featWAP{background-position:-124px 0;width:122px;height:72px;}
#featured #featRT{background-position:0 -74px;width:77px;height:77px;}
#featured .featImgTitle{font:400 18px/22px Georgia, 'Times New Roman', Times, serif;color:#4f4f4f;}
#solutions{padding:10px;border:1px solid #BAAE95;border-top:none;margin-bottom:1px;font-size:12px;}
#solutions .solLeft{padding-right:10px;}
#solutions .solMiddle{border-left:1px solid #dedad3;padding-left:10px;padding-right:10px;}
#solutions .solRight{border-left:1px solid #dedad3;padding-left:10px;}
#solutions .solImgWpr{text-align:center;margin-bottom:15px;}
#solutions .solImg{margin:0 auto;background-image:url(/images/KBimg.png);}
#solutions #solConImg{background-position:-5px -174px;width:148px;height:96px;}
#solutions #solWebImg{background-position:-154px -74px;width:130px;height:110px;}
#solutions #solNewImg{background-position:-153px -185px;width:143px;height:69px;}
#solutions #solTextNew{font:700 42px/42px Tahoma, Geneva, sans-serif;text-align:left;color:#fff;padding-top:2px;padding-left:5px;}
#solutions #solTextFeat{font:700 22px/22px Tahoma, Geneva, sans-serif;text-align:left;color:#fff;padding-left:5px;}

#kb_help #conSupImgWpr{text-align:center;margin-bottom:15px;}
#kb_help #conSupImg{margin:0 auto;background-image:url(/images/KBimg.png);background-position:left -270px;width:87px;height:53px;}
#kb_help #conSupText{line-height:15px;margin-bottom:7px;}
#kb_help #upgradeImgWrpr{margin-bottom:15px;}
#kb_help .upgradeImg{background-image:url(/images/KBimg.png);display:inline-block;}
#kb_help #upgradeUSImg{background-position:left -323px;width:70px;height:54px;}
#kb_help #upgradeArrowImg{background-position:-70px -323px;width:28px;height:20px;margin:20px 15px 0;vertical-align:top;}
#kb_help #upgradeWorldImg{background-position:-98px -323px;width:70px;height:54px;}
#kb_help #paymentImgWpr{margin-bottom:15px;}
#kb_help #paymentImg{margin:0;background-image:url(/images/KBimg.png);background-position:-87px -270px;width:160px;height:48px;}
#kb_help #topFAQ{line-height:16px;}
#kb_help #topFAQ li{margin-bottom:7px;}

#kb_contact h1{font:700 21px/24px Georgia, "Times New Roman", Times, serif;color:#333;margin:0 0 10px;/*Safari*/}
#kb_contact h2{font:400 18px/22px Tahoma, Geneva, sans-serif;color:#83381f;padding:5px 0 10px;margin:0;/*Safari*/}
#kb_contact #contact_title{margin-top:20px;padding-bottom:20px;}
#kb_contact #contact_titleImg{margin:0 10px 0 0;background-image:url(/images/KBimg.png);background-position:left -270px;width:87px;height:53px;}
#kb_contact #contact_titleDesc{font:400 14px/16px Tahoma, Geneva, sans-serif;}
#kb_contact #contact_info{margin-bottom:5px;}
#kb_contact #contact_info th{text-align:left;font:700 12px/14px Tahoma, Geneva, sans-serif;border-bottom:1px solid #DBD7C9;color:#7f7e7b;padding:5px 0;}
#kb_contact #contact_info td{border-bottom:1px solid #DBD7C9;padding:5px 0;}
#kb_contact #contact_info .contact_region, #kb_contact .contact_phone{font:700 14px/16px Tahoma, Geneva, sans-serif;}
#kb_contact #contact_info .contact_region span, #kb_contact .contact_phone span{font:400 11px/13px Tahoma, Geneva, sans-serif;}
#kb_contact #contact_info .contact_hours{font:400 12px/14px Tahoma, Geneva, sans-serif;white-space:nowrap;}
#kb_contact #contact_online,#kb_contact #contact_email{font-size:13px;padding-bottom:5px;}
#kb_contact #contact_online,#kb_contact #contact_email, #kb_contact #contact_info h2, #kb_contact #contact_info th, #kb_contact #contact_info td{padding-left:5px;}

#kb_answer{float:right;width:765px;}
#kb_answer h2{font:400 14px/16px Georgia, "Times New Roman", Times, serif;color:#83381f;padding:5px 0;margin:0;/*Safari*/}
#kb_answer #lastUpdateText{color:#acaaaa;font-size:11px;padding-top:5px;}
#kb_answer #QArea{margin-top:15px;padding-bottom:5px;}
#kb_answer #QText{font:700 21px/24px Georgia, 'Times New Roman', Times, serif;}
#kb_answer #AArea{margin-top:5px;padding-bottom:10px;}
#kb_answer #AArea .bold{font-weight:700;}
#kb_answer .AText{font:400 13px/16px Tahoma, Geneva, sans-serif;color:#2b2b2b;padding-bottom:5px;}
#kb_answer #rateArea{margin-top:15px;padding-bottom:5px;}
#kb_answer #rateTitle{font:700 14px/16px Tahoma, Geneva, sans-serif;margin-bottom:7px;}
#kb_answer #rateFormWpr{font:400 12px/14px Tahoma, Geneva, sans-serif;margin-bottom:7px;}
#kb_answer .rate_cb{margin-right:5px;vertical-align:middle;}
#kb_answer .rate_cblabel{margin-right:10px;}
#kb_answer #rate_contact{font:400 12px/14px Tahoma, Geneva, sans-serif;}
#kb_answer #rate_contact_icon{vertical-align:middle;}
#kb_answer #relResWpr{width:369px;float:left;height:auto;}
#kb_answer #relRes{padding:10px;border:1px solid #BAAE95;border-top:none;margin-bottom:1px;font-size:12px;}
#kb_answer #relRes .relResLeft{padding-right:10px;}
#kb_answer #relRes .relResRight{border-left:1px solid #dedad3;padding-left:10px;}
#kb_answer #relRes .relResImgWpr{text-align:center;margin-bottom:15px;}
#kb_answer #relRes .relResImg{margin:0 auto;background-image:url(/images/KBimg.png);}
#kb_answer #relRes #relResBlogImg{background-position:-5px -174px;width:148px;height:96px;}
#kb_answer #relRes #relResVidImg{background-position:-154px -74px;width:130px;height:110px;}
#kb_answer .otherViews{float:left;height:auto;width:369px;margin-left:13px;}
#kb_answer .otherViews ul{line-height:14px;padding-left:15px;padding-top:7px;}
#kb_answer .otherViews li{list-style-type:disc;padding-bottom:4px;}

#kb_results #conSupImg,#kb_topic #conSupImg{background-image:url(/images/KBimg.png);background-position:left -270px;width:87px;height:53px;float:left;margin-right:5px;}
#kb_results #conSupQ, #kb_topic #conSupQ{font:700 12px/14px Tahoma, Geneva, sans-serif;margin-bottom:5px;}
#kb_results #conSupA, #kb_topic #conSupA{margin-bottom:5px;}

#kb_topic #mainTopicTitle{margin-top:10px;margin-bottom:17px;margin-left:10px;font:400 23px/26px Georgia, 'Times New Roman', Times, serif;color:#83381f;}
#kb_topic #mainTopicImg{float:left;height:210px;width:220px;background-image:url(/images/KBimg.png);background-position:-297px top;}
#kb_topic .mainTopicLink{font:400 14px/16px Tahoma, Geneva, sans-serif;color:#43540d;}
#kb_topic .mainTopicLinkDesc{font:400 12px/14px Tahoma, Geneva, sans-serif;color:#939393;}
#kb_topic .updateLink{margin-bottom:5px;}
#kb_topic .centerImgWpr{text-align:center;margin-bottom:15px;}
#kb_topic .centerImg{margin:0 auto;background-image:url(/images/KBimg.png);}
#kb_topic #FTMFeatVid{background-position:-248px -269px;width:135px;height:110px;}
#kb_topic #WebVid{background-position:-154px -74px;width:130px;height:110px;}

.QAList{font:400 12px/14px Tahoma, Geneva, sans-serif;border:1px solid #b4ad9a;border-top:none;background-image:url(/images/kb_contactBG.png);background-repeat:repeat-x;background-color:#e8e7db;background-position:left top;}
.QAListNum{padding:3px 0 3px 10px;display:inline-block;}
.QAListLink{display:inline-block;padding:3px 0;}
.widgetFootr{* height:100%;}
.pageOfPages{float:left;margin-top:3px;}
.page{float:right;}

.linkWArrow{float:left;}
.mar7Top{margin-top:7px;}
.mar10Top{margin-top:10px;}
.mar10Bot{margin-bottom:10px;}
.mar20Top{margin-top:20px;}
.mar20Bot{margin-bottom:20px;}

.colorWhite{background:#FFFFFF;}

.flat_icon_small{background-image:url(/images/icon-sprite.png);background-repeat:no-repeat;display:inline-block;width:12px;height:12px;}
.sideNvWrp .flat_icon, .kbSearch .flat_icon{float:none;}
.kbSearch .search_white{vertical-align:middle;margin-top:-2px;margin-left:5px;}
.kbSearch .arrow3up_green,.kbSearch .arrow3down_green{vertical-align:middle;margin-top:-3px;}
.sideNvWrp .arrow3right_green,.sideNvWrp .arrow3down_green{float:left;}
.sideNvWrp .arrow1right_green_small{margin-top:2px;margin-left:5px;}
.kbSearch .arrow1right_green_small{margin-top:3px;margin-left:5px;}
.arrow3right_green{background-position:left -780px;}
.arrow3down_green{background-position:left -840px;}
.arrow1right_green_small{background-position:-53px -622px;}
.arrow3right_green_small{background-position:-53px -782px;}
.arrow3down_green_small{background-position:-53px -842px;}
.arrow3up_green{background-position:left -820px;}
.search_white{background-position:-34px -500px;}
.message_green{background-position:left -120px;}
.print_green{background-position:left -100px;}
.feed_white{background-position:-34px -1160px;}
.no_arrow3down_green{padding-left: 16px;}

.widgtTpGrn p{color:#fff;display:inline-block;float:left;font-family:Tahoma,Geneva,sans-serif;}
.widgtTpIcon{float:right;margin-right:5px;}