<h1>Listing videos</h1>

<table>
  <tr>
  </tr>

<% @videos.each do |video| %>
  <tr>
  <td><%= video.id %>: <%= video.url %></td>
  <td><%= link_to 'Show', video %></td>
  </tr>
<% end %>
</table>


