<div class="youtube_video">
<object width="425" height="355">
  	<param name="movie"
	        value="http://www.youtube.com/v/<%=h  @video.url %>?version=3&fs=1&rel=0&showinfo=0&feature=player_embedded"></param>
	<param name="allowScriptAccess" value="always"></param>
  	<embed src="http://www.youtube.com/v/<%=h @video.url%>?version=3&fs=1&rel=0&showinfo=0&feature=player_embedded"
           type="application/x-shockwave-flash"
           allowscriptaccess="always"
           width="425" height="355">
    </embed>
</object>
</div>
