<div id="footerWrp" class="footerWrp ft-wrapper">
	<div class="contner clearfix">
			<ul class="lower">
				<li><span>© 2007-2013 Moviepedia.in</span></li>				
				<li><a href="http://www.Moviepedia.in/">Help</a></li>
				<li><a href="http://www.Moviepedia.in/faq">F.A.Q</a></li>				
				<li class="privPo"><a href="http://www.Moviepedia.in/legal/privacy">Privacy Policy</a></li>
				<li class="lastOne"><a href="http://www.Moviepedia.in/legal/terms">Terms and Conditions</a></li>
			
			</ul>
     </div>
</div>
